html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    
}

div {
    /*margin: 2px;*/
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
}

/*-- begin index.php css --*/

#index_mainContainer {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 2%;
    /*border: 1px solid black;*/
}

.index_groupContainer {
    border: 1px dotted black;
    font-family: Verdana, sans-serif;
    margin: 1%;
    width: 31%;
    float: left;
    text-align: center;
    min-height: 350px;
    
}

.index_img{
    max-width: 80%;
}

#index_welcomeMessage {
    border: 1px dotted steelblue;
    background-color: lightsteelblue;
    width: 80%;
    margin-left: 10%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
}

/*-- end index.php css --*/


/*-- begin cart.php css --*/

#cart_welcomeMessage {
    border: 1px dotted steelblue;
    background-color: lightsteelblue;
    width: 80%;
    margin-left: 10%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
}

#cart_nothingToDisplay{
    border: 1px dotted steelblue;
    background-color: lightsteelblue;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
}

#cart_itemsContainer .cart_item {
    border-bottom: 1px dotted black;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 80%;
    margin-left: 10%;
}

#cart_orderInfo {
    border: 1px dotted black;
    background-color: #cccccc;
    margin-left: 70%;
    padding-left: 1em;
    font-family: Verdana, sans-serif;
}

#cart_purchaseInfo {
    border-top: 1px dashed black;
    background-color: #cccccc;
    width: 80%;
    margin-left: 10%;
}

#cart_purchaseInfo > h2, #cart_purchaseInfo > form {
    display: inline-block;
}

#cart_checkout {
    margin-left: 45em;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

#cart_itemRemovedSucess {
    font-family: Verdana, sans-serif;
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
    /*width: 25%;*/
    margin-left: 70%;
    padding: 1em;
}

#cart_itemRemovedError {
    font-family: Verdana, sans-serif;
    background-color: lightpink;
    color: red;
    border: 1px solid red;
    /*width: 25%;*/
    margin-left: 70%;
    padding: 1em;
}

/*-- end cart.php css --*/

/*-- begin userLogin.php css --*/

.userLogin_error {
    font-family: Verdana, Arial, sans-serif;
    background-color: lightpink;
    color: red;
    border: 1px solid red;
    width: 80%;
    margin-left: 10%;
    padding: 1em;
}

#userLogin_loginForm {
    border: 1px dotted black;
    width: 50%;
    margin-left: 25%;
    margin-top: 1em;
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 1em;
    padding-bottom: 5%;
    background-color: #ccccff;
}

#userLogin_loginForm label {
    display: inline-block;
    width: 20%;
}

#userLogin_submit {
    float: left;
    margin-top: 5%;
    margin-left: 45%;
    font-size: 1em;
}

#userLogin_register {
    border: 1px dotted black;
    width: 50%;
    margin-left: 25%;
    margin-top: 1em;
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 1em;
    background-color: #99ff99;
}

#userLogin_register > a, #userLogin_register > a:visited {
    text-decoration: none;
}

/*-- end userLogin.php css --*/

/*-- begin newAccount.php css --*/

#newAccount_compulsory {
    border: 1px dotted black;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: #99ff99;
    text-align: center;
    padding-bottom: 5%;
}

#newAccount_compulsory > form > input {
    padding: 0.5em;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

#newAccount_compulsory > form > label {
    display: inline-block;
    width: 20%;
    text-align: left;
}

#newAccount_submit {
    float: left;
    margin-top: 1em;
    margin-left: 40%;
}

#newAccount_invalidPassword {
    color: red;
    margin-left: 15%
}

#newAccount_creationError{
    border: 1px dotted red;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: lightpink;
    color: red;
}

/*-- end newAccount.php css --*/

/*-- begin paymentConfirmation.php css --*/

#paymentConfirmation_confimed {
    border: 1px dotted black;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: #99ff99;
}

#paymentConfirmation_error{
    border: 1px dotted red;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    color: red;
    background-color: lightpink;
}

#paymentConfirmation_main > a, #paymentConfirmation_main > a:visited {
    text-decoration: none;
}

/*-- end paymentConfirmation.php css --*/

/*-- begin checkout.php css --*/
#checkout_welcomeMessage {
    border: 1px dotted blue;
    width: 60%;
    margin-left: 20%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: lightskyblue;
}

#checkout_deliveryDetails {
    border: 1px dotted blue;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    padding-bottom: 5%;
    background-color: #ccccff;
}

#checkout_deliveryDetails > form > label {
    display: inline-block;
    width: 30%;
    padding: 0.5em;
}

#checkout_deliveryDetails > form > input {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    
}

#checkout_save {
    margin-left: 75%;
}

#checkout_submit {
    float: left;
    margin-top: 1em;
    margin-left: 75%;
}

/*-- end checkout.php css --*/

/*-- begin userPortal.php css --*/

#userPortal_welcomeMessage {
    border: 1px dotted blue;
    width: 60%;
    margin-left: 20%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: lightskyblue;
}

#userPortal_pendingOrders {
    border: 1px dotted blue;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: lightskyblue;
}

#userPortal_userDetails {
    border: 1px dotted blue;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: lightskyblue;
}

/*-- end userPortal.php css --*/

/*-- begin paymentDetails.php css --*/

#paymentDetails_informationBar {
    border: 1px dotted red;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    background-color: lightpink;
    color: red;
}

#paymentDetails_form{
    border: 1px dotted black;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    padding: 1em;
    padding-bottom: 4%;
    padding-left: 15%;
    background-color: #cccccc;
    
}

#paymentDetails_form > form > label {
    display: inline-block;
    width: 30%;
    padding: 0.5em;
}

#paymentDetails_form > form > input {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    
}

#paymentDetails_submit {
    float: left;
    margin-top: 1em;
    margin-left: 70%;
}

#paymentDetails_total{
    font-size: 1.2em;
    font-weight: bold;
}

/*-- end paymentDetails.php css --*/