 #nav { clear:both; float:center; width:700px; height:64px; padding-top:0px; border-bottom:1px solid #e0e0e0;}
 #nav ul { min-height:35px; position:relative; z-index:20; width:960px;}
 #nav ul ul {position:absolute; left:0px; top:35px;  width:960px; z-index:-1; margin-top:-1px; height:20px; min-height:30px; clear:both; float:left;}

 #body {clear:both; float:left; padding:0px 0 0 10px; width:950px; }
 .page #body {padding-left:20px; width:940px;}

    .formarea {float:left;line-height:1.5em;}
	.formarea #formtop { font-size: 0.001em; }
	.formarea #formmiddle{padding: 5px 25px 25px 25px; background: rgb(240,240,240);}
	.formarea #formbottom { min-height: 87px; _height: 87px; }

    .formarea .middle_query { width: 500px !important;  margin-top: -20px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
    .formarea .middle_query input[type=text]{ width:200px !important; height:18px;}
    .formarea .middle_query textarea { width:200px !important;}
    .formarea .middle_query input[type=file] { width:200px !important; height: 25px !important;}
	.formarea .top_query { width: 450px !important; }
	.formarea .bottom_query { width: 450px !important; }
	
	.formarea { width: 680px; }
	.formarea #formtop { width: 680px;   }
	.formarea #formmiddle { width: 630px; }
	.formarea #formbottom { width: 680px;  }

  .secondaryheading {clear: both; padding: 0px; margin:10px 0 20px 0; color:#555555; }
  .secondaryheading h2 {margin:0; padding:0; }
  .tertiaryheading {clear: both; padding: 10px; margin:10px 0 20px 0; background-color:#f7f7f7; border:1px solid #d4d4d4;}
  .tertiaryheading h2 {margin:0; padding:0; }

  .row {clear: both; padding-top: 10px;}
  .row span.label {float: left; width: 150px; text-align: right; font-size:1.1em; font-weight:bold;}
  .row span.labelw { width: 250px; float: left; text-align: right; font-size: 1.1em; }
  .row span.formw {width: 250px; text-align: left; }
  .row span.formw2 { width: 200px; padding-left: 40px;}
  .row span.formw input[type=text],
  .row span.formw input[type=file],
  .row span.formw select,
  .row span.formw textarea { background:#fff; border:1px solid #b8b8b8; width:320px; margin-left: 20px;}
  .row span.formwtt {float: right; width: 390px; text-align: left;}
  .row span.formwtt input { background:#fff; border:1px solid #b8b8b8; width:320px;}
  .row span.tooltips {float: right; width: 60px; text-align: left;}
  .row span.checkbox {float: left; width: 205px; text-align: right; font-size:1.1em;}
  .row span.checkboxlabel {float: right; width: 415px; text-align: left; font-size:1.1em;}
  .row span.checkboxlabeltt {float: right; width: 355px; text-align: left; font-size:1.1em;}
  .buttons {padding: 20px 10px 0 10px;}

